@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F0F23; /* Dark Space background */
  --foreground: #E5E7EB; /* Text primary */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
